<div class="vertical align-center">
  <h3>deleting...</h3>

  <p>
    <em>This page will automatically refresh every 10 seconds while the deletion process is happening...</em>
  </p>
  
  <script>
    setTimeout(function(){ window.location.reload(); }, 1000 * 10);
  </script>
  <div>
  {{ range $i, $room := .Rooms }}
    {{ if $room.Id }}
      <div class="horizontal align-center">

        <label for="ban_{{ $i }}" >BAN</span>
        <input  id="ban_{{ $i }}" type="checkbox" disabled {{if $room.Ban }}checked{{ end }}></input>
        <span> STATUS: {{ $room.Status }} &nbsp;  {{ $room.IdWithName }}</span>
      </div>
    {{ end }}
  {{ end }}
  </div>

  {{ if gt .StateGroupsStateProgress 0 }}
      <p>
        Progress of deleting rows from <code>state_groups_state</code>: {{ .StateGroupsStateProgress }}%
      </p>
  {{ end }}
</div>