html {
  min-height: 100%;
}

body {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Ubuntu",Roboto,"Segoe UI",sans-serif;
  margin: 0;
  padding: 0;

  background-repeat: no-repeat;
  background-size: 100%;
  background-image: linear-gradient(to bottom, #73615b 0%, #75727e 100%);
  min-height: 100%;
}
header {
  background-color: #ddd;
  padding: 0.15rem 0.45rem;

  box-shadow: 0 0 6rem 1rem #27026b8a;
}
header .header-container {
  padding: 0.25rem 0;
  border-bottom: 2px solid #00000031;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .header-container img {
  height: 2em;
  margin-right: 1em;
}

header h1 {
  font-size: 1.3rem;
  border-radius: 4px;
  color: #5f5f5f;
  display: inline;
  padding: 0.1rem 0.5rem;
  margin: 0;
}

blockquote {
  display: inline-block;
  margin: 0;
  padding: 1em;
  padding-left: 2em; 
  background-color: white;
  border-left: 5px solid #ccc;
  color: #333;
}

hr {
  width: 100%;
}

p, li {
  line-height: 1.5em;
}
li {
  margin-top: 0.5em;
  margin-bottom: 1em;
}
li::marker {
  font-weight: bold;
}
a {
  font-weight: 600;
  color: #66811a;
}
a:visited {
  font-weight: 600;
  color: #406e14;
}
img {
  max-width: 100%;
}
video {
  max-height: 90%;
}
footer {
  height: 100px;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #444242;
  font-weight: bold;
  font-style: italic;
}

footer .cloud {
  padding: 10px 20px;
  border-radius: 20px;
  background: #ddd;

  box-shadow: 0 0.5rem 1rem 0rem #2f244340;
}

footer a {
  font-weight: normal;
  color: #101e58;
}
footer a:visited {
  color: #2f1058;
}

header .session-status, 
header .session-status a {
  white-space: nowrap;
  font-weight: 600;
  color: #5f5f5f;
}
header .session-status a {
  text-decoration-thickness: 2px;
}
header .session-status {
  margin-top: 0.2em;
  margin-right: 0.8em;
}


.chart-container {
  display: flex;
  flex-direction: column;
  align-content: center;
}


.chart-container h1, 
.chart-container h2, 
.chart-container h3, 
.chart-container h4 {
  text-align: center;
}




code {
  padding: 2px 4px;
  font-size: 90%;
  color: #862323;
  background-color: #965f5f1c;
  border-radius: 4px;
}

pre code,
pre tt {
  padding: 0;
  font-size: inherit;
  color: #222;
  background-color: transparent;
  border: 0;
}

/* red-purple inline code links */
code a,
a code {
  font-weight: 600;
  color: #af5214;
  text-emphasis-color: #af5214;
  text-decoration-thickness: 2px;
}
code a:hover,
a:hover code,
code a:visited,
a:visited code {
  font-weight: 600;
  color: #973213;
  text-emphasis-color: #973213;
  text-decoration-thickness: 2px;
}

main {
  /* background: #0000007e; */
}
.highlight  {
  color: #eee4dd;
  padding: 2em 1em;
}
.highlight a {
  color: #b0e226;
}

pre.flash {
  border: 2px solid gray;
  font-weight: bold;
  padding: 2em;
  border-radius: 8px;
  font-size: 1.1em;
}
pre.flash.error {
  border-color: #5e2416;
  background: #da9871;
  color: #5e2416;
}
pre.flash.info {
  border-color: #000000aa;
  background: #ffffff60;
  color: #12496e;
}



.page {
  padding: 2vw 4vw;
  border-top: 0.4rem dashed #695b62;
  border-bottom: 0.4rem dashed #7b6f6e;
  /* border-bottom: 0.2rem dashed #8a7232; */
  background: #d9d9d9;
  color: #432;
  min-height: 20em;
}
.page.no-horizontal-margin {
  padding: 2vw 0;
}
@media screen and (max-width: 1024px) {
  .page {
    padding: 2vw 2vw;
  }
}
@media screen and (max-width: 640px) {
  .page {
    padding: 0;
  }
}
.pagewidth {
  max-width: 1100px;
}

.float-right {
  float: right;
}
.image-large {
  margin: 1rem;
  width: 22rem;
}
.image-medium {
  margin: 1rem;
  width: 8rem;
}
.image-small {
  margin: 0.5rem;
  width: 4rem;
}

.horizontal {
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.margin-bottom {
  margin-bottom: 0.4em;
}
.align-center {
  align-items: center;
}
.vertical {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

input,button,textarea,
input:hover,button:hover,textarea:hover,
input:focus,button:focus,textarea:focus {
  outline: 0;
}

input {
  box-sizing: content-box;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 0.5rem;
  color: #333;
  font-size: 1em;
}
input:focus {
  border: 2px solid #029dfd;
  padding: calc(0.5rem - 1px);
}
.text-align-right {
  text-align: right;
}
input.short {
  width: 11em;
}
input.subdomain {
  padding-right: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

label {
  margin-right: 1em;
}

form.vertical input,
form.horizontal.wrap input,
form.vertical .js-form-submit-button {
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}
.js-form-submit-button {
  padding: 0.25em 1em;
  cursor: pointer;
  display: none;
}
.form-footer {
  font-size: 0.85em;
  padding-top: 1rem;
}
.fine-print {
  font-size: 0.7em;
}



.invalid {
  color: red;
}




@media screen and (max-width: 900px) {
  .horizontal.flip {
      flex-direction: column;
      align-items: center;
  }
}


.justify-center {
  justify-content: center;
}

.space-around {
  justify-content: space-around;
}

.space-between {
  justify-content: space-around;
}

.justify-left {
  justify-content: flex-start;
}

.justify-right {
  justify-content: flex-end;
}

.flex-grow-2 {
  flex-grow: 2;
}

.wrap {
  flex-wrap: wrap;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  margin: 1rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
  /* border: 0.2rem dashed #cba; */
  z-index: 1;
}
@media screen and (max-width: 640px) {
  .box {
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

.box img.expand {
  margin: 0 -6rem;
  position: relative;
  z-index: 2;
}













